.movieCard {
    border: 2px solid black;
    border-radius: 5px;
    margin: 2%;
}
.movieCardText {
    margin: 5%;
}

.unratedText {
    background-color: #fa6150;
    color: white;
    border-radius: 1em;
}

.ratedText {
    background-color: #6fc263;
    color: white;
    border-radius: 1em; 
}