html, body, #app, #app>div {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
    position:absolute; /*it can be fixed too*/
    margin:0;
    // left:0; right:0;
    // top:0; bottom:0;
    // border: 20px solid black;
    // border-radius: 25px;
}

.whitebox {
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    // Isolates white box with black background
    // height: 90%;
    // width: 95%;
    // border-radius: 25px;

    height: 100%;
    width: 100%;
    background-color: white;

    overflow: hidden;
}