.start-container{
    font-family: Opensans;
    height: 100%;
}

.moviesListRow {
    height: 80%;
}

.tools {
    height: 7%;
}

.header {
    height: 10%;
}

.titleText {
    font-size: 2em;
}

.img-powered-by {
    height: 80%;
    width: auto;
}